{% load static %}
﻿<!DOCTYPE html>
<html>
	

<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agro</title>

		<link rel="stylesheet" type="text/css" href="{% static 'library/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'library/css/skin/red.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


	</head>
	<body>
            
		<header id="header" class="m-has-header-tools">
                
			<div class="header-inner">
                   
				
				<div class="header-content">
					<div class="c-container">
						<div>

							
							<div class="header-toggle-holder">

								
								<button type="button" class="header-toggle">
									<i class="ico-open tp tp-menu"></i>
									<i class="ico-close tp tp-cross"></i>
									<span>Menu</span>
								</button>
							

							</div>
							

						</div>
					</div>
				</div>
				

			</div>
		</header>
		
		<div class="header-bg z-index: 9999;">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark  z-index:-1">
                        <a class="navbar-brand" href="#">Rallis India Limited</a>
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                                <a class="nav-link" href="#">Infrastructure</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="#">Investor Relations</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Careers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Area</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                          </li>
                        </ul>
                      </nav>

			<div class="header-image" data-autoplay="8">
				<div class="image-layer" style="background-image: url( '{% static "images/header-03.jpg" %}' );"></div>
				<!-- <div class="image-layer" style="background-image: url( '{% static "images/header-02.jpg" %}' );"></div> -->
			</div>
	

		</div>
        <br><br><br>
        <br><br>

		<div id="core">
			<div class="c-container">
				<div class="row">
					<div class="middle-column col-md-9 col-md-push-3">
						<div id="page-header" class="m-has-breadcrumbs">
							<div class="page-title">
								<h1>Futures Order</h1>
							</div>
							<div class="breadcrumbs">
								<ul>
									<li class="home"><a href="#">Please Order Your Futures</a></li>
									<li></li>
								</ul>
							</div>
						</div>
						<hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

					</div>
				
					<div class="left-column col-md-3 col-md-pull-9">
						<nav class="side-menu m-left-side m-show-submenu">
							<ul>
								<li><a href="#">MANUFACTURING</a></li>
								<li class="m-active"><a href="#"> PLANT GROWTH NUTRIENTS</a>
									<ul>
										<li><a href="#">AGRO SERVICES</a></li>
										<li class="m-active"><a href="#">SEEDS</a></li>
										<li><a href="#"> DISTRIBUTION NETWORK</a></li>
										<li><a href="#">SUSTAINABILITY AT RALLIS</a></li>
										<li><a href="#">HEALTH & SAFETY</a></li>
									</ul>
								</li>
								<li><a href="#">CORPORATE SOCIAL RESPONSIBILITY POLICY</a>
									<ul>
										<li><a href="#">CLIMATE CHANGE POLICY</a></li>
										<li><a href="#">CORPORATE GOVERNANCE
										</a></li>
										<li><a href="#"> INVESTOR INFORMATION</a></li>
										<li><a href="#">OFFICES</a></li>
									</ul>
								</li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="#">Statistics</a></li>
										<li><a href="#">Virtual Tour</a></li>
										<li><a href="#">Town History</a></li>
										<li><a href="#">Elements</a></li>
									</ul>
								</li>
							</ul>
						</nav>
			
						<aside class="sidebar">
							<div class="widget-list">

							
								<div class="widget documents-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-papers"></i>Documents</h3>
										<div class="widget-content">
											<ul class="document-list m-has-icons">

					
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Company Agenda April 24, 2014</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
												
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Company Report 2014</a>
															<span class="document-filesize">(24 kB)</span>
														</h4>
													</div>
												</li>
												
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="Word Document"><i class="fa fa-file-word-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Police Contract</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
										
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="Word Document"><i class="fa fa-file-word-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Public Company Contract</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>

											</ul>
											<p class="show-all-btn"><a href="#">See All Documents</a></p>
										</div>
									</div>
								</div>

							</div>
						</aside>
					

					</div>
		

				</div>
			</div>
		</div>
		

	
		<footer id="footer" class="m-has-bg">
			<div class="footer-bg">
				<div class="footer-inner">

	
					<div class="footer-top">
						<div class="c-container">

							
							<div id="bottom-panel">
								<div class="bottom-panel-inner">
									<div class="row">
										<div class="col-md-3">

							
											<div class="widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title">About Us</h3>
													<div class="widget-content">
														<p><a href="#">Mission Vision & Values</a></p>
														<p><a href="#">Leadership</a></p>
													</div>
												</div>
											</div>
							

										</div>
										<div class="widget-col col-md-3">

							
											<div class="widget definition-list-widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-telephone"></i>Phone Numbers</h3>
													<div class="widget-content">
														<dl>
															<dt>Phone</dt>
															<dd>(123) 456-7890</dd>
															<dt>Phone</dt>
															<dd>(123) 456-7891</dd>
															<dt>Phone Department</dt>
															<dd>(123) 456-7892</dd>
														</dl>
														<p class="show-all-btn"><a href="#">See All Phone Numbers</a></p>
													</div>
												</div>
											</div>
							

										</div>
										<div class="widget-col col-md-3">

											<div class="widget mailchimp-subscribe-widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-at-sign"></i>Join Our Newsletter</h3>
													<div class="widget-content">

							                                <form class="mailchimp-subscribe-form" method="get"
                											action="http://lsvr.us14.list-manage.com/subscribe/post-json?u=8291218baaf54ddfd7dbc6016&amp;id=f3e5d696dc&amp;c=?">
	                    									<div class="subscribe-inner">

	                    										<div class="description">
	                    											<p>Join our newsletter to receive up to date news about our company.</p>
																</div>
	                    									</div>
                										</form>

    												</div>
												</div>
											</div>

										</div>
										<div class="widget-col col-md-3">

									
											<div class="widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-envelope"></i>Company Address</h3>
													<div class="widget-content">
														<p>P.O. Box 123 Rallis India Limited<br>VT 12345</p>
														<p>Phone: (123) 456-7890<br>Fax: (123) 456-7891<br>
														Email: <a href="#">indiarallis@rallis.gov</a></p>
													</div>
												</div>
											</div>
									

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
        </footer>
<!--         
		<script src="library/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="library/js/third-party.js" type="text/javascript"></script>
		<script src="library/js/library.js" type="text/javascript"></script>
		<script src="library/js/scripts.js" type="text/javascript"></script>
		 -->

	</body>


</html>