{% load static %}
﻿<!DOCTYPE html>
<html>
	

<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Village Panchayat</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.png'">

		<!-- GOOGLE FONTS : begin -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<!-- GOOGLE FONTS : end -->

       <link rel="stylesheet" type="text/css" href="{% static 'library/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'library/css/skin/red.css' %}">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'library/css/custom.css' %}"> -->
		
	

	</head>
	<body>

		<header id="header" class="m-has-header-tools m-has-gmap">
			<div class="header-inner">

				<div class="header-content">
					<div class="c-container">
						<h1 style="color: white;">Village Panchayat</h1>
						<div class="header-content-inner">

							<div class="header-branding m-large-logo">
								<br><br><br><br><br><br><br>
							</div>
							
						

						</div>
					</div>
				</div>
				

			</div>
		</header>
		
		<div class="header-bg">

			<div class="header-image" data-autoplay="8">
				<div class="image-layer" style="background-image: url( '{% static "images/header-01.jpg" %}' );"></div>
			</div>
			

		</div>
	
		<div id="core">
			<div class="c-container">
				<div class="row">

					
					<div class="middle-column col-md-6 col-md-push-3">

						<div id="page-header">

							
							<div class="page-title">
								<h1>Make a New Order</em></h1>
							</div>
						

						</div>
						<div id="page-content">
							<div class="page-content-inner">

								<div class="c-directory m-has-icon m-3-columns">
									<div class="c-content-box">
										<form method="POST" action="">
											<br>
											{% csrf_token %}
											{{form.as_p}}
											<input style="width:100%" type="submit">	
										</form>          
									</div>
								</div>
								<!-- DIRECTORY : end -->

								<!-- POST LIST : begin -->
									<!-- POST LIST : end -->

							</div>
						</div>
						<hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

					</div>
					<div class="left-column col-md-3 col-md-pull-6">

						
						<nav class="side-menu m-left-side m-show-submenu">
							<ul>
								<li><a href="#">Home</a>
								
								</li>
								<li><a href="#">Government</a>
									<ul>
										<li><a href="#">Town Hall</a></li>
										<li><a href="#">Town Council</a></li>
										<li><a href="#">Phone Numbers</a></li>
										<li><a href="#">Documents</a></li>
										<li><a href="#">Write To Mayor</a></li>
									</ul>
								</li>
								<li><a href="#">Community</a>
									<ul>
										<li><a href="#">News</a></li>
										<li><a href="#">Notices</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Galleries</a></li>
									</ul>
								</li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="#">Statistics</a></li>
										<li><a href="#">Virtual Tour</a></li>
										<li><a href="#">Town History</a></li>
										<li><a href="#">Elements</a></li>
									</ul>
								</li>
								<li><a href="/futures/portfolio_market">Portfolio</a>
							</ul>
						</nav>
						<aside class="sidebar">
							<div class="widget-list">

									<div class="widget documents-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-papers"></i>Documents</h3>
										<div class="widget-content">
											<ul class="document-list m-has-icons">

												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Council Agenda April 24, 2019</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Village Report 2019</a>
															<span class="document-filesize">(24 kB)</span>
														</h4>
													</div>
												</li>
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="Word Document"><i class="fa fa-file-word-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Police Contract</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="Word Document"><i class="fa fa-file-word-o"></i></div>
														<h4 class="document-title">
															<a href="#" target="_blank">Public Schools Contract</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>

											</ul>
											<p class="show-all-btn"><a href="#">See All Documents</a></p>
										</div>
									</div>
								</div>
								<div class="widget locale-info-widget m-has-bg">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-map-marker"></i>Locale Info</h3>
										<div class="widget-content">
											<ul>
												<li>
													<div class="row-title"><h4>Country</h4></div>
													<div class="row-value">India</div>
												</li>
												<li>
													<div class="row-title"><h4>State</h4></div>
													<div class="row-value">Andhra Pradesh</div>
												</li>
												
												<li>
													<div class="row-title"><h4>Sricity Area</h4></div>
													<div class="row-value">72.7 sq mi (188.4 km<sup>2</sup>)</div>
												</li>
												<li>
													<div class="row-title"><h4>Population</h4></div>
													<div class="row-value">4,314</div>
												</li>
												<li>
													<div class="row-title"><h4>Coordinates</h4></div>
													<div class="row-value">44°28′31″N<br>72°42′8″W</div>
												</li>
												<li>
													<div class="row-title"><h4>Time zone</h4></div>
													<div class="row-value">South East</div>
												</li>
												<li>
													<div class="row-title"><h4>ZIP code</h4></div>
													<div class="row-value">517646</div>
												</li>
											</ul>
            							</div>
									</div>
								</div>
									<div class="widget featured-gallery-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-pictures"></i>Featured Gallery</h3>
										<div class="widget-content">
											<div class="gallery-image" title="Streets of VillagePress">
												<a href="#"><img src=" {% static 'images/featured-gallery-01.jpg' %}" alt=""></a>
											</div>
											<p class="show-all-btn"><a href="#">See All Galleries</a></p>
            							</div>
									</div>
								</div>
							</div>
						</aside>

					</div>
					<div class="right-column col-md-3">
						<aside class="sidebar">
							<div class="widget-list">

								<div class="widget notices-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="#"></i>Village Notices</h3>
										<div class="widget-content">
											<ul class="notice-list">

												<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="#">Annual Marathon Registration</a></h4>
														<span class="notice-date">May 14, 2019</span>
													</div>
												</li>
													<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="#">Traf fic Safety Notice</a></h4>
														<span class="notice-date">July 19, 2019</span>
													</div>
												</li>
													<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="#">Municipal Panchayat Waste</a></h4>
														<span class="notice-date">August 24, 2019</span>
													</div>
												</li>
													<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="#">Upcoming Public Meetings</a></h4>
														<span class="notice-date">October 18, 2020</span>
													</div>
												</li>

											</ul>
											<p class="show-all-btn"><a href="#">See All Notices</a></p>
										</div>
									</div>
								</div>
									<div class="widget image-widget">
									<div class="widget-inner">
										<div class="widget-content">
											<a href="#"><img src="{% static 'images/poster-01.jpg' %}" alt=""></a>
										</div>
									</div>
								</div>
								<div class="widget events-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-calendar-full"></i>Upcoming Events</h3>
										<div class="widget-content">
											<ul class="event-list">

												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="June 3, 2016">
															<span class="event-month">Jun</span>
															<span class="event-day">3</span>
														</div>
														<h4 class="event-title"><a href="#">Movie Premiere: Reflex Revenge (Action Drama)</a></h4>
													</div>
												</li>
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="June 24, 2016">
															<span class="event-month">Jun</span>
															<span class="event-day">24</span>
														</div>
														<h4 class="event-title"><a href="#">Summer Rock Festival: Intrepid Pioneers, Filament Kingdom, Messenger Encounter &amp; More!</a></h4>
													</div>
												</li>
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="July 9, 2016">
															<span class="event-month">Jul</span>
															<span class="event-day">9</span>
														</div>
														<h4 class="event-title"><a href="#">Theatre Premiere: Antigone with Maximiliano Simonas</a></h4>
													</div>
												</li>
											<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="July 15, 2016">
															<span class="event-month">Jul</span>
															<span class="event-day">15</span>
														</div>
														<h4 class="event-title"><a href="#">Annual Spring Marathon: Around the TownPress</a></h4>
													</div>
												</li>
											</ul>
											<p class="show-all-btn"><a href="#">See All Events</a></p>
										</div>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>

		<footer id="footer" class="m-has-bg">
			<div class="footer-bg">
				<div class="footer-inner">

					<div class="footer-top">
						<div class="c-container">

							<div id="bottom-panel">
								<div class="bottom-panel-inner">
									<div class="row">
										<div class="col-md-3">

											
											<div class="widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title">About Village Panchayat</h3>
													<div class="widget-content">
														<p>Panchayat is best suited to be used as a presentation site for small towns or villages.</p>
														
													</div>
												</div>
											</div>
										

										</div>
										<div class="widget-col col-md-3">

											
											<div class="widget definition-list-widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-telephone"></i>Phone Numbers</h3>
													<div class="widget-content">
														<dl>
															<dt>Panchayat Clerk</dt>
															<dd>(123) 456-7890</dd>
															<dt>State Police</dt>
															<dd>(123) 456-7891</dd>
															<dt>Fire Department</dt>
															<dd>(123) 456-7892</dd>
														</dl>
														<p class="show-all-btn"><a href="#">See All Phone Numbers</a></p>
													</div>
												</div>
											</div>
											

										</div>
										<div class="widget-col col-md-3">

											<div class="widget mailchimp-subscribe-widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-at-sign"></i>Join Our Newsletter</h3>
													<div class="widget-content">

                										

	                    										<div class="description">
	                    											<p>Join our newsletter to receive up to date news about our villages.</p>
																</div>																
										                        <div class="form-fields">
										                            <input type="text" placeholder="Your Email Address" name="EMAIL" class="m-required m-email">
										                            
										                        </div>

	                    									

    												</div>
												</div>
											</div>

										</div>
										<div class="widget-col col-md-3">

											<div class="widget">
												<hr class="c-separator m-transparent hidden-lg hidden-md">
												<div class="widget-inner">
													<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-envelope"></i>Panchayat Hall Address</h3>
													<div class="widget-content">
														<p>P.O. Box 123 TownPress<br>VT 12345</p>
														<p>Phone: (123) 456-7890<br>Fax: (123) 456-7891<br>
														Email: <a href="#">panchayathall@panchayatpress.gov</a></p>
													</div>
												</div>
											</div>
											

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
<!-- 	<script src="{% static 'library/js/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'library/js/third-party.js' %}" type="text/javascript"></script>
		<script src="{% static 'library/js/library.js' %}" type="text/javascript"></script>
		<script src="{% static 'library/js/scripts.js' %}" type="text/javascript"></script> -->

	</body>
</html>